@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --gray: 96, 115, 159;
  --gray-dark: 34, 41, 57;
  --gray-gradient: #f8f9fa, #e9ecef;
}

/* Estilos base para el layout */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 1rem;
  border-bottom: 1px solid #e5e7eb;
}

footer {
  margin-top: auto;
}

@view-transition {
    navigation: auto;
}
