---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
    <div class="mx-auto w-full xl:w-[60rem] xl:pt-50 pt-30">
        <div class="flex flex-col gap-8 items-center justify-center">
            <div class="xl:w-120 w-90 text-center py-14 rounded-4xl bg-white dark:bg-neutral-800 shadow shadow-black/60 dark:shadow-white backdrop-blur-sm">
                <cite class="text-neutral-600 dark:text-white not-italic text-8xl font-bold">
                    404
                </cite>
                <p class="text-neutral-500 dark:text-white not-italic xl:text-2xl text-xl font-bold">
                    Página no encontrada
                </p>
            </div>
            <h3 class="w-2/3 mb-3 text-neutral-700 xl:text-xl text-lg font-semibold text-center">Lo sentimos, la página que estás buscando no existe</h3>
        </div>
    </div>
</Layout>
