---
import Layout        from '@/layouts/Layout.astro';
import RepoCard       from '@/components/RepoCard.astro';
import FeaturedRepo   from '@/components/FeaturedRepo.astro';

import { getRepos } from '@/scripts/getRepos';

const repos      = await getRepos();
const latestPost = repos.at(-1);
const remainingPosts  = repos.slice(0, -1).reverse();

export const prerender = true;
---

<Layout>
    <main class="mx-auto w-[60rem]">
        <div class="pt-20 pr-8">
            <div class="flex flex-col gap-12">
                <!-- Artículo Principal -->
                <section class="text-neutral-900 dark:text-neutral-100">
                    <h2 class="text-2xl font-bold mb-4">Última Publicación</h2>
                    {latestPost && <FeaturedRepo {...latestPost} />}
                </section>

                <!-- Entradas Anteriores -->
                <section class="text-neutral-900 dark:text-neutral-100">
                    <h2 class="text-2xl font-bold mb-6">Entradas Anteriores</h2>
                    <div id="posts-grid" class="grid grid-cols-2 gap-6">
                        {remainingPosts
                            .slice(0, 4)
                            .map(repo => <RepoCard {...repo} />)}
                    </div>
                    {remainingPosts.length > 4 && (
                        <div class="flex justify-center mt-8">
                            <button
                                id="load-more"
                                class="px-6 py-2 text-neutral-800 hover:text-blue-500 transition-colors duration-200"
                                data-current-page="1"
                                data-total-posts={JSON.stringify(remainingPosts)}
                            >
                                Cargar más...
                            </button>
                        </div>
                    )}
                </section>
            </div>
        </div>
    </main>
</Layout>

<script>
    import { createRepoCard } from '@/scripts/RepoCardTemplate';

    const loadMoreBtn = document.getElementById('load-more');
    const postsGrid = document.getElementById('posts-grid');
    const POSTS_PER_PAGE = 4;

    const allPosts = JSON.parse(loadMoreBtn?.dataset.totalPosts || '[]');

    function loadMorePosts() {
        const currentPage = parseInt(loadMoreBtn.dataset.currentPage);
        const startIndex = currentPage * POSTS_PER_PAGE;
        const endIndex = startIndex + POSTS_PER_PAGE;

        const newPosts = allPosts.slice(startIndex, endIndex);

        if (newPosts.length > 0) {
            const postsHTML = newPosts.map(createRepoCard).join('');
            postsGrid.insertAdjacentHTML('beforeend', postsHTML);
            loadMoreBtn.dataset.currentPage = (currentPage + 1).toString();

            if (endIndex >= allPosts.length) {
                loadMoreBtn.style.display = 'none';
            }
        }
    }

    loadMoreBtn?.addEventListener('click', loadMorePosts);
</script>
