---
const today = new Date();
---

<footer>
	<div class="text-center text-sm text-neutral-500 dark:text-neutral-400 py-4">
		TechCrafted.dev &copy; {today.getFullYear()} Sergio Trujillo de la Nuez. All rights reserved.
	</div>
</footer>
