---
const today = new Date();
---

<footer>
	<div class="text-center text-sm text-neutral-500 dark:text-neutral-400 py-4">
		&copy; {today.getFullYear()} Your name here. All rights reserved.
	</div>
</footer>
