---
const today = new Date();
---

<footer class="bg-neutral-100 p-4 text-center">
<!-- Wrapper -->
	<div class="max-w-7xl mx-auto px-4 py-6 flex flex-col xl:flex-row xl:items-start xl:justify-between gap-6">

		<div class="xl:flex-shrink-0 xl:text-left text-center">
			<!-- TechCrafted -->
			<div class="text-2xl font-bold pb-3">TechCrafted.dev</div>
			<p class="text-sm text-neutral-600 mt-2">
				Un espacio dedicado a la tecnología, el desarrollo <br>
				y grandes ideas que merecen compartirse.
			</p>

			<!-- Social Media Links -->
			<div class="flex items-center justify-center xl:justify-start gap-6 pt-4">
    <a href="https://x.com/TRuHa83" target="_blank" rel="noopener noreferrer" aria-label="X (Twitter)">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 1227" class="w-5 h-5 fill-current text-black hover:text-blue-500">
            <path d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6904H306.615L611.412 515.685L658.88 583.579L1055.08 1150.31H892.476L569.165 687.854V687.828Z"/>
        </svg>
    </a>
    <a href="https://github.com/TRuHa83" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="w-5 h-5 fill-current text-black hover:text-blue-500">
            <path d="M8 0a8 8 0 0 0-2.53 15.59c.4.07.55-.17.55-.38l-.01-1.49c-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48l-.01 2.2c0 .21.15.46.55.38A8 8 0 0 0 8 0Z"/>
        </svg>
    </a>
    <a href="https://www.linkedin.com/in/sergio-trujillo-de-la-nuez-32a4a727/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 fill-current text-black hover:text-blue-500" viewBox="0 0 16 16">
            <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"/>
        </svg>
    </a>
</div>
		</div>

		<!-- Information Section -->
		<div class="xl:text-left text-center">
			<h3 class="font-bold">Información</h3>
			<ul class="text-sm text-neutral-600">
				<li class="pt-2"><a href="https://techcrafted.dev" class="hover:text-blue-500">LandingPage</a></li>
				<li class="pt-2"><a href="https://techcrafted.dev/portafolio" class="hover:text-blue-500">Portafolio</a></li>
				<li class="pt-2"><a href="https://blog.techcrafted.dev" class="hover:text-blue-500">Blog</a></li>
			</ul>
		</div>

		<!-- Contact Section -->
		<div class="xl:text-left text-center mx-auto xl:mx-0 max-w-xs xl:w-70 relative z-10">
			<h3 class="font-bold pb-2">Suscríbete</h3>
			<input type="email" placeholder="Tu correo electrónico"
				   class="w-full px-3 py-2 border border-neutral-300 rounded-md text-sm text-neutral-900 focus:outline-none focus:ring-2 focus:ring-blue-500"
				   aria-label="Suscríbete a nuestro boletín"/>
			<button id="contact-submit-btn" type="button"
				class="mt-2 w-full bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 transition-colors duration-200">
				Enviar
			</button>
		</div>
	</div>

	<!-- Signature -->
	<hr class="flex m-auto w-3/4 border-neutral-200" />
	<div class="max-w-7xl mx-auto flex items-center justify-between border-neutral-200">
		<div class="w-full text-center xl:text-sm text-xs text-neutral-500 py-6">
		  TechCrafted.dev &copy; {today.getFullYear()} Sergio Trujillo de la Nuez. All rights reserved.
		</div>
	</div>
</footer>

<script client:load>
  // Escuchar el evento DOMContentLoaded para inicializar
  document.addEventListener("DOMContentLoaded", () => {
    const button = document.getElementById("contact-submit-btn");

    if (button) {
      button.addEventListener("click", (event) => {
        event.preventDefault();

        // Muestra un popup alertando al usuario
        alert("La subscripción al boletín no está disponible en este momento. Por favor, inténtalo más tarde.");
      });
    }
  });
</script>