---
import '@/styles/global.css';

import { getRepos } from '@/components/scripts/getRepos';
import { getPosts } from '@/components/scripts/getPosts';

// import ThemeToggle from '@/components/extra/ThemeToggle.astro';

import Footer from '@/components/page/Footer.astro';
import Header from "@/components/page/Header.astro";
import Aside from "@/components/page/Aside.astro";

const repos = await getRepos();
const posts = await getPosts();

export const prerender = true;
---

<!doctype html>
<html lang="es_ES">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- Open Graph (usado por Telegram, Discord, LinkedIn...) -->
		<meta property="og:title" content="Blog.TechCrafted.dev – Tecnología, IA y Desarrollo">
		<meta property="og:description" content="Un espacio dedicado a la tecnología, el desarrollo y grandes ideas que merecen compartirse.">
		<meta property="og:image" content="https://blog.techcrafted.dev/og-image.jpg">
		<meta property="og:url" content="https://blog.techcrafted.dev">
		<meta property="og:type" content="website">

		<!-- Twitter Card -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Blog.TechCrafted.dev – Tecnología, IA y Desarrollo">
		<meta name="twitter:description" content="Un espacio dedicado a la tecnología, el desarrollo y grandes ideas que merecen compartirse.">
		<meta name="twitter:image" content="https://blog.techcrafted.dev/og-image.jpg">

		<title>TechCrafted.dev</title>

		<!-- Favicon básico -->
		<link rel="icon" type="image/webp" sizes="48x48" href="/icon_48x48.webp">

		<!-- Icono para dispositivos Apple -->
		<link rel="apple-touch-icon" type="image/webp" sizes="180x180" href="/icon_180x180.webp">

		<!-- Iconos Android / PWA -->
		<link rel="icon" type="image/webp" sizes="192x192" href="/icon_192x192.webp">
		<link rel="icon" type="image/webp" sizes="512x512" href="/icon_512x512.webp">

		<!-- Manifest (si usas PWA) -->
		<link rel="manifest" href="/manifest.webmanifest">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
		<script defer src="https://stats.techcrafted.dev/script.js" data-website-id="e6a93260-5411-44fc-b3a6-c6644f10b12d"></script>
	</head>
	<body class="bg-white dark:bg-neutral-800 w-full flex flex-col min-h-screen">
		<Header />
		<!-- <ThemeToggle /> -->

		<div class="flex-grow xl:py-6 py-4 max-w-7xl mx-auto w-full xl:grid xl:grid-cols-1 flex flex-col xl:grid-cols-[1fr_40rem] gap-8">
			<main class="p-0">
				<slot />
			</main>
			<Aside {repos} class="w-full xl:w-[40rem] xl:sticky xl:top-32"/>
		</div>

		<Footer />
	</body>
</html>
